<!-- home -->

<div class='todo_items center'>

<% if @todo_items %>
<% @todo_items.each do |item| %>
  <div class='todo_item'>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><h3><%= check_box_tag name='complete', checked= item.complete %></h3></td>
            <td><h3><%= link_to item.description, item %></h3></td>
            <td><%= link_to 'Edit', edit_todo_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, id: 'destroy', rel: 'nofollow' %></td>
          </tr>
      </tbody>
    </table>
  </div>
<% end %>
<% end %>

</div>
