<h1>edit item: <%= @todo_item.description%></h1>

<%= render partial: 'form', locals: {todo_item: @todo_item, list: @list} %>

<%= link_to 'Show', @todo_item %> |
<%= link_to 'Back', list_path(@list) %>
