@import "bootstrap";

//universal

html{
	overflow-y: scroll;
}

body{
	padding-top: 0px;
	font-size: 1em;
}

ul {
	margin: 0;
	list-style: none;
}

ol {
  margin: 0;
  list-style: none;
}

li {
	list-style: none;
}

.container {
	width: 80%;
	text-ailgn: center;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.hidden {
	color: red;
	display: none;
	visibility: none;
}

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.page-wrap {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }


a {
  text-decoration: none;
  color: black;

	&:hover {
		text-decoration: underline;
		color: black;
	}
}

.nav {
  overflow: hidden;

	h1 {
		margin-bottom: 10px;

	}

	#logo {
		float: left;
		margin-left: 20px;
		a {
			display: inline-block;
			background-color: transparent;
			text-decoration: none;
			color: black;

			&:hover {
				background-color: transparent;
				text-decoration: none;
				color: black;
			}
		}
		img {
			width: 4em;
			display: inline-block;
			vertical-align: top;
		}
		h1 {
			display: inline-block;
			vertical-align: top;
			margin: 10px;
			text-decoration: none;

			&:hover {text-decoration: underline;}
		}
	}

	#menu {
		float: right;
		a {
			display: inline-block;
			margin-right: 20px
		}
	}
}


.footer {
  margin: 20px 0;
}

.error {
  color: red;
  padding: 20px;
}


.todo_item {

	h3 {
	}

	table {
		width: 100%;
		border-bottom: 1px solid #888;

		td {
			width: 25%;
			text-align: center;
		}
	}

	a {
		text-decoration: none;
		color: black;

		&:hover {
			text-decoration: underline;
			color: black;
			background-color: white;
		}

		&:visited {
			color: black;
		}
	}
}

.new_todo_item {
	div {
		display: inline-block;
		margin: 10px;
	}

	input {
		margin: 0;
	}
}


.bottom_links {
	margin: 20px 0 0 0;
}
