<div class="footer center">
  <small>
    This site was made by <a href="http://www.missmaggiemo.com">Maggie Moreno</a>.
    Please visit <a href="http://www.missmaggiemo.com/projects">www.missmaggiemo.com/projects</a> for more information.
  </small>
</div>
