<div class="header">

    <div class="nav">
      <div id="logo">
        <a id="TODO" href="/"><%= image_tag 'todo_icon_large.png', alt: "LOGO" %><h1>TODO</h1></a>
      </div>

      <div id="menu">
        <a id="new" href="#"><h1>NEW</h1></a>
        <a id="clear" href="#"><h1>CLEAR</h1></a>
      </div>
    </div>
  <hr>
  </div>
</div>


<!-- <a id="clear" data-method="delete" href="/todo_items/remove_all" rel="nofollow"><h1>CLEAR</h1></a> -->
